{% extends "base.html" %}
{% block title %}Login — ForecastNet{% endblock %}
{% block content %}
<div class="container vh-100 d-flex align-items-center justify-content-center">
    <div
        class="card border-secondary shadow-lg bg-dark text-light"
        style="width: 500px; border-radius: 20px;"
    >
        <div class="card-body p-5">

            <div class="text-center mb-3">
                <div class="d-inline-flex justify-content-center align-items-center bg-white rounded" style="width:60px;height:60px;font-size:30px;">
                    📈
                </div>
            </div>

            <h2 class="fw-bold text-left mb-2">Masukan Email Anda</h2>

            <p class="text-secondary text-left mb-4">Masukan email yang terdaftar</p>

            <form method="POST">

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" name="email" class="form-control bg-secondary-subtle" placeholder="user@example.com" required>
                </div>

                <button type="submit" class="btn btn-primary w-100 py-2">
                    Masuk
                </button>

            </form>

        </div>
    </div>
</div>

<script>
    const togglePassword = document.getElementById("togglePassword");
    const password = document.getElementById("password");
    const eyeIcon = document.getElementById("eyeIcon");

    togglePassword.addEventListener("click", function () {
        const isHidden = password.getAttribute("type") === "password";

        password.setAttribute("type", isHidden ? "text" : "password");

        eyeIcon.classList.toggle("fa-eye");
        eyeIcon.classList.toggle("fa-eye-slash");
    });
</script>
{% endblock %}
